<!DOCTYPE HTML>
<html>
<head th:fragment="headerdata (title)"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title th:text="${title}">Member</title>
<link href="/css/costum-style.css" rel="stylesheet">
</head>

<!--  th:text="${#dates.format(game.startDate, 'dd.MM.yyyy HH:mm') }" -->
<body>
	<div th:fragment="header">
		<nav
			class="navbar navbar-costum navbar-expand-md navbar-dark fixed-top bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item active"><a class="nav-link"
						href="/dataprotection">Datenschutz</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/impressum">Impressum</a></li>

					<!-- Dropdown Adminmenu  -->
					<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="nav-link dropdown-toggle active" href="#" id="navbardrop"
						data-toggle="dropdown"> Adminstration </a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/members">Members</a> <a
								class="dropdown-item" href="/settings">Settings</a>
						</div></li>
					<li class="nav-item active d-block d-sm-none"><p
							class="nav-link" th:onclick="'openSearchModal()' ">Search</p></li>

					<li class="btn d-none d-sm-block">
						<form class="form-inline mr-auto">
							<input class="form-control" type="text" placeholder="Search"
								aria-label="Search">
							<button class="btn btn-costum-dark text-white" type="submit">Search</button>
						</form>
					</li>
				</ul>
			</div>


			<th:block sec:authorize="isAuthenticated()">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link active"
						th:href="@{/logout}">Ausloggen</a></li>
				</ul>
			</th:block>
		</nav>
	</div>


	<div th:fragment="bootstrapcomponents">
		<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/1.14.7/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
		<script src="/js/scripts.js"></script>

		<script type="text/javascript">
			
		</script>
	</div>


	<div class="col-sm-3" th:fragment="event">
		<div class="card" style="display: none">
			<div class="card-body">
				<h5 class="card-title" th:text="${event.name}"></h5>
				<p class="card-text" th:text="${#dates.format(event.startDate, 'dd.MM.yyyy HH:mm') }"></p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>

	<div th:fragment="showMembers">
		<div class="row" th:if="${members}">
			<div class="col bg-dark text-white">
				<h3>Name</h3>
			</div>
			<div class="col bg-dark text-white d-none d-sm-block">
				<h3>Email</h3>
			</div>
		</div>
		<th:block th:if="${members}">
			<th:block th:each="member: ${members}">
				<div class="row">
					<div class="col">
						<p th:onclick="'openMemberModal(\'' + ${member.id} + '\')' "
							th:text="${member.username}">Username</p>
					</div>
					<div class="col d-none d-sm-block" th:text="${member.email}"></div>
					<div id="memberModalHolder"></div>
				</div>
			</th:block>
		</th:block>
	</div>

	<div class="modal fade" id="memberModal" role="dialog"
		aria-labelledby="Member Modal" th:fragment=memberModalContent>
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle"
						th:text=${member.username}>Username</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="#">
					<div class="modal-body">
						<div class="container">
							<div class="row" th:if="${!member.isAdmin()}">
								<div class="col">
									<label class="switch"> <input type="checkbox"
										name="enabled" id="enabled" th:checked="${member.enabled}">
										<span class="slider round"> </span>
									</label> <label for="enabled">Enabled</label>
								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Save Changes"
							class="btn btn-round-sm float-left btn-danger">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="searchModal" role="dialog"
		aria-labelledby="Search Modal" th:fragment="searchModalContent">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">What are u
						looking for?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="form-inline mr-auto">
					<div class="modal-body">
						<div class="container">
							<input class="form-control form-control-auto" type="text"
								placeholder="Search" aria-label="Search">
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Search"
							class="btn btn-round-sm float-left btn-dark">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

					</div>
				</form>
			</div>
		</div>
	</div>



</body>

</html>