<div class="modal fade" id="memberModal" role="dialog"
	aria-labelledby="Member Modal" th:fragment=memberModalContent>
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle"
					th:text="${member.username} ? ${member.username} : 'Create User'">Username</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form th:action="${member.id == 0} ? @{/member/create} : @{/member/}+ ${member.id}" method="post"
				th:object="${member}">
				<div class="modal-body">
					<div class="container">
						<div class="row" th:if="${!member.isAdmin()}">
							<div class="col">
								<label class="switch"> <input type="checkbox"
									name="enabled" id="enabled" th:checked="${member.enabled}">
									<span class="slider round"> </span>
								</label> <label for="enabled">Enabled</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">Username:</div>
							<div class="col-md-9">
								<label for="username"> <input
									th:value="${member.username}" class="form-control" type="text"
									name="username" id="username">
								</label> <input th:if="${member.email}" id="email" name="email"
									th:type="hidden" th:value="${member.email}" />
							</div>
						</div>
						<div class="row" th:unless="${member.email}">
							<div class="col-md-3">Email:</div>
							<div class="col-md-9">
								<label for="email"> <input class="form-control"
									type="text" name="email" id="email">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">Password:</div>
							<div class="col-md-9">
								<label for="password"> <input class="form-control"
									type="password" name="password" id="password">
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">Confirmation:</div>
							<div class="col-md-9">
								<label for="passwordConfirm"> <input
									class="form-control" type="password" name="passwordConfirm"
									id="passwordConfirm">
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" value="Save Changes"
						class="btn btn-round-sm float-left btn-danger">
					<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

				</div>
			</form>
		</div>
	</div>
</div>

<div th:fragment="showMembers">
	<div class="row" th:if="${members}">
		<div class="col bg-dark text-white">
			<h3>Name</h3>
		</div>
		<div class="col bg-dark text-white d-none d-sm-block">
			<h3>Email</h3>
		</div>
	</div>
	<th:block th:if="${members}">
		<th:block th:each="member: ${members}">
			<div class="row">
				<div class="col">
					<p th:onclick="'openMemberModal(\'' + ${member.id} + '\')' "
						th:text="${member.username}">Username</p>
				</div>
				<div class="col d-none d-sm-block" th:text="${member.email}"></div>
				<div id="memberModalHolder"></div>
			</div>
		</th:block>
	</th:block>
</div>