/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.navbar-costum {
	opacity: 0.8;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.card {
	margin-bottom: 2rem;
	width: 16rem;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	animation: heading;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes heading{ 
	0%{ transform: translateY(100px); }
	100%{ transform: translateY(0px); } 
}

.card:hover{
	width:17rem;
}

.form-control-auto {
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.btn-auto {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.btn-costum-dark {
	background-color: #202020;
	margin-left: 0.5rem;
}

#btn-footer {
	position: fixed;
	top: 4.75rem;
	right: 10px;
	opacity: 0.6;
}

#paging {
	border-style: solid;
	border-color: gray;
	border-width: thin;
	margin-right: 0.3rem;
	padding: 0.25rem;
}

.mb-6 {
	margin-bottom: 4.75rem;
}



