<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: headerdata (title='Index')"></div>
<body>
	<div th:replace="fragments/general.html :: header"></div>
	<div class="container main">

		<th:block th:each="event, iStat : ${member.events}">
			<th:block th:switch="${iStat.index % 4}">
				<span th:case="'0'">
			
				</span>
				<span th:case="'3'">
	
				</span>
				<span th:case="*">
					<div th:replace="fragments/general.html :: event"></div>
				</span>
			</th:block>

		</th:block>


	</div>
	<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".card").each(function(i) {
				$(this).delay(275 * i).slideDown(500);
			});
		});
	</script>
</body>
</html>