<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: headerdata (title='Index')"></div>
<body>
	<div th:replace="fragments/general.html :: header"></div>
	<div class="container main"></div>

	<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	<div id="btn-footer">
		<button class="btn btn-danger" th:onclick="'openEventModal()'">&plus;</button>
	</div>

	<script th:inline="javascript">
		$(document).ready(function() {
			loadEvents();

		})
	</script>
</body>
</html>